/* css */
*{
  box-sizing: border-box;
  font-family: "Helvetica", Times, serif;
  line-height: normal;
  background-color: #c5ce90;
  }

.garden-area {
  height: 360px;
  width: 536px;
  position: relative;
}

.wrongpgimg {
  height: 400px;
  width: 400px;
  position: relative;
}

.icon-box {
  height: 200px;
  width: 600px;
  border-width: 2px !important;
  border-color: black !important;
}

.text-above {
  position: relative;
}

.text-below {
  position: relative;
}

.icon {
  position: absolute;
}
